name: Infrastructure

on:
  workflow_dispatch:
    branches:
      - main
    # paths:
    #   - 'infrastructure/app/**'
   
  pull_request:
    branches:
      - main
    paths:
      - 'infrastructure/**'

jobs:
  terraform:
    name: Terraform provision
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.10.4

      - name: Boostrap S3 Bucket
        run: |
          aws s3api create-bucket --bucket ${{ secrets.BUCKET_TF_STATE }} --region us-east-1
          aws s3api put-bucket-versioning --bucket ${{ secrets.BUCKET_TF_STATE }} --versioning-configuration Status=Enabled
          aws s3api put-bucket-encryption --bucket ${{ secrets.BUCKET_TF_STATE }} --server-side-encryption-configuration '{"Rules":[{"ApplyServerSideEncryptionByDefault":{"SSEAlgorithm":"AES256"}}]}'
          aws s3api put-public-access-block --bucket ${{ secrets.BUCKET_TF_STATE }} --public-access-block-configuration BlockPublicAcls=true,IgnorePublicAcls=true,BlockPublicPolicy=true,RestrictPublicBuckets=true

      - name: Terraform Init
        run: |
          cd infrastructure
          terraform init \
          -backend-config="bucket=${{ secrets.BUCKET_TF_STATE }}" \
          -backend-config="key=terraform.tfstate" \
          -backend-config="region=us-east-1"
                  

      - name: Terraform Format
        run: |
          cd infrastructure
          terraform fmt -check -diff -recursive

      - name: Terraform Validate
        run: |
          cd infrastructure
          terraform validate

      - name: Terraform Plan
        run: |
          cd infrastructure
          terraform plan

      # - name: Terraform Import Existing Resources
      #   run: |
      #     cd infrastructure
      #     terraform import aws_dynamodb_table.dynamodb_table uri-table
      #     terraform import aws_dynamodb_table.terraform_locks terraform-state-lock
      #     terraform import aws_s3_bucket.file_upload_bucket file-upload21525
      #     terraform import aws_iam_role.lambda_role lambda_execution_role

      - name: Terraform Apply
        run: |
          if: github.event_name == 'workflow_dispatch'
          cd infrastructure
          terraform apply -auto-approve
          